* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1170px;
  padding: 0 20px;
}

.text-center {
  text-align: center;
}

.main-header {
  display: flex;
  padding: 20px;
}
.main-header .logo {
  padding-right: 40px;
}
.main-header ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.main-header ul li {
  padding: 0 20px;
}
.main-header ul li a {
  text-decoration: none;
  color: #303030;
}
.main-header ul li a.active {
  background: #303030;
}

.main-comics {
  background-color: #303030;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  color: white;
  padding: 50px 0;
}
.cards .card {
  margin: 30px 10px;
}
.cards .card div {
  height: 190px;
  width: 190px;
}
.cards .card div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.cards .card div h3 {
  margin: 4px 0;
}

.button-section {
  display: flex;
  justify-content: center;
}
.button-section button {
  background-color: #0182f9;
  color: white;
  padding: 10px 45px;
  border: none;
  margin: 20px 0;
}
.button-section button:hover {
  cursor: pointer;
}

.main-footer {
  background-color: #303030;
  border-top: 20px solid #0182f9;
}
.main-footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.main-footer div button {
  background-color: #303030;
  border: #0182f9 2px solid;
  color: white;
  padding: 10px;
}
.main-footer div ul {
  display: flex;
  list-style: none;
}
.main-footer div ul li {
  padding: 10px;
}
.main-footer div ul .follow {
  display: flex;
  align-items: center;
}
.main-footer div ul .follow a {
  text-decoration: none;
  color: #0182f9;
}