.main-comics {
    background-color: $secondary-color;
    padding: 50px 0;
}
.cards {
    display: flex;
    flex-wrap: wrap;

    .card {
        width: calc(100% / 6);
        padding: 15px;
        color: white;
        div {
            height: 180px;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
        h3 {
            margin: 4px 0;
        }
    }
}
.button-section {
    display: flex;
    justify-content: center;
    button {
        background-color: $primary-color;
        color: white;
        padding: 10px 45px;
        border: none;
        margin: 20px 0;
        &:hover {
            cursor: pointer;
        }
    }
}
