.comic-detail {
    position: relative;
    .jumbo {
        height: 420px;
        border-bottom: 80px solid $primary-color;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
    figure {
        position: absolute;
        top: 100px;
        img {
            border: 1px solid white;
        }
    }
    .comic-main {
        margin: 70px;
        .comic-info {
            margin: 30px;
        }
        .detail-box {
            height: 30px;
            background-color: #55ba58;
            display: flex;
            justify-content: space-between;
        }
        h1 {
            text-transform: uppercase;
            color: #3e5969;
        }
        h3 {
            color: gray;
        }
    }
}
