.main-footer {
    background-color: $secondary-color;
    div {
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            list-style: none;
        }
    }
}
